# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Project specific
*.log
chromedriver
chromedriver.exe
geckodriver
geckodriver.exe
!requirements.json

# OS specific
.DS_Store
Thumbs.db
desktop.ini




# Style Gallery Explorer
# Logs
style-gallery-explorer-main/logs
*.log
style-gallery-explorer-main/npm-debug.log*
style-gallery-explorer-main/yarn-debug.log*
style-gallery-explorer-main/yarn-error.log*
style-gallery-explorer-main/pnpm-debug.log*
style-gallery-explorer-main/lerna-debug.log*

style-gallery-explorer-main/node_modules
style-gallery-explorer-main/dist
style-gallery-explorer-main/dist-ssr
style-gallery-explorer-main/*.local

# Editor directories and files
style-gallery-explorer-main/.vscode/*
style-gallery-explorer-main/.vscode/extensions.json
style-gallery-explorer-main/.idea
style-gallery-explorer-main/.DS_Store
style-gallery-explorer-main/*.suo
style-gallery-explorer-main/*.ntvs*
style-gallery-explorer-main/*.njsproj
style-gallery-explorer-main/*.sln
style-gallery-explorer-main/*.sw?

# Explicitly allow lib directory in style-gallery-explorer-main
!style-gallery-explorer-main/src/lib/

# Results
freeflo_results.json
combined_results.json
